<div class="step step-4">
	<div class="text">
		<h3>Step.4</h3>
		根据前面的情况，我们可能猜测到例如z层级等关系导致，但是那都是无济于事的。<br>
		这里我们猜测一下content是处于居中的，是否可能是两侧margin的空白区无法正常滚动呢。<br>
		我们试着给content层添加一个红色背景来便于观看。<br>
		你发现了什么，content内容区能正常滚动，两侧才不可以。嗯哼？没错。
	</div>

	<div class="view">
		<div class="outer">

			<img class="img" src="https://ww4.sinaimg.cn/large/bcc700eegw1eikbevbsu1j21hc0ip4cf.jpg" alt="">
			
			<div class="inner">
					
				<div class="content">
					{{#repeat 5}}
					<div class="block">
						内容区域
					</div>
					{{/repeat}}
				</div>

			</div>
		</div>
	</div>

	<div class="code">
	<a href="https://iruxu.com/LessLab/" class="tips">less base on lesslab</a>
	<textarea>
		<div class="outer">
			<img class="img" src="https://ww4.sinaimg.cn/large/bcc700eegw1eikbevbsu1j21hc0ip4cf.jpg" alt="">
			
			<div class="inner">
				<div class="content">
					<div class="block">内容区域</div>
					<div class="block">内容区域</div>
					<div class="block">内容区域</div>
					<div class="block">内容区域</div>
				</div>
			</div>
		</div>
		<style>
			.outer{
				.pr;.full;
			}
			.img{
				.pa;.lt(0,0);.full;
				.db;
			}
			.inner{
				.pr;.full;
				overflow-x:hidden;
				overflow-y:auto;
			}
			.content{
				.size(400px,auto);
				.auto(x);
				background-color:#f00;
			}
			.block{
				//此处可能每个block的宽度并不一致，但不超过content值
				.h(200px);.auto(x);
			}
		</style>
	</textarea>
	</div>
</div>