<div class="step step-2">
	<div class="text">
		<h3>Step.2</h3>
		然而IE78并不支持background-size属性，当我们需要达到同样效果时，则需要将背景图作为一个图层绝对定位在最底部。<br>
		所以我们试着将结构将变为.outer > img  + .block*N <br>
		但是此时滚动时，非我们想要的效果。
	</div>

	<div class="view">
		<div class="outer">
			<img class="img" src="http://ww4.sinaimg.cn/large/bcc700eegw1eikbevbsu1j21hc0ip4cf.jpg" alt="">

			
			<div class="block">
				内容区域
			</div>
			
			<div class="block">
				内容区域
			</div>
			
			<div class="block">
				内容区域
			</div>
			
			<div class="block">
				内容区域
			</div>
			
			<div class="block">
				内容区域
			</div>
			

		</div>
	</div>

	<div class="code">
	<a href="http://iruxu.com/LessLab/" class="tips">less base on lesslab</a>
	<textarea>
		<div class="outer">
			<img class="img" src="http://ww4.sinaimg.cn/large/bcc700eegw1eikbevbsu1j21hc0ip4cf.jpg" alt="">
			<div class="block">内容区域</div>
			<div class="block">内容区域</div>
			<div class="block">内容区域</div>
			<div class="block">内容区域</div>
		</div>

		<style>
			.outer{
				.pr;.full;
				overflow-x:hidden;
				overflow-y:auto;
			}

			.img{
				.pa;.lt(0,0);
				.full;.db;
			}

			.block{
				.pr;
				.size(400px,200px);.auto(x);
			}

		</style>
	</textarea>
	</div>
</div>