<div class="step step-8">
	<div class="text">
		<h3>总结</h3>
		根据前面不难总结，当需要使用overflow创建的BFC在IE78下使用滚轮在任意位置滚动时，需要该BFC中有一个full层，这个层我们可以设置其中的某一个full box的背景为一张空白图来解决此bug。或者当其本身如果有背景时，则不会出现此bug。<br>
		故我们可以选择注意将图片放置在合适的层作为背景来避免此bug，或添加一个blank.gif来解决此bug。
	</div>
</div>