<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title></title>
<meta charset="utf-8"/>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui"/>
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
<link rel="stylesheet" href="css/test.css" type="text/css"/>
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

	<!-- 1. -->
	<!-- <div class="outer">

		<div class="inner">
				
		</div>

	</div> -->

	<!-- 2.1 -->
	<!-- <div class="outer">

		<img class="img" src="http://ww4.sinaimg.cn/large/bcc700eejw1ets2tszc92j20p018ggt9.jpg" alt="">
		
		<div class="inner">
				
		</div>

	</div> -->

	<!-- 2.2 -->
	<div class="outer">

		<img class="img" src="http://ww4.sinaimg.cn/large/bcc700eejw1ets2tszc92j20p018ggt9.jpg" alt="">
		
		<div class="inner">
				
			<div class="content">

				<div class="a"></div>
				
			</div>

		</div>

	</div>

<div class="wrap">
	<!-- <div class="prev"></div> -->
	<img class="prev" src="http://ww4.sinaimg.cn/large/bcc700eejw1ets2tszc92j20p018ggt9.jpg" alt="">
	<div class="box">
		<div class="box2">
			<div class="a"></div>
		</div>
	</div>
</div>
</body>
</html>